body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #5083aa; /* Example colorful background */
}

.container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2em; /* Semi-large text */
}

input[type="file"] {
    margin: 20px 0;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green; /* Green button */
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkgreen;
}